<!-- Head-->
<head th:replace="~{layout :: head}">...</head>

<!-- Navigation bar -->
<div th:replace="~{layout :: navbar}"></div>

<!-- Main content area -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">

            <!-- New post form -->
            <form action="/new">
                <div class="form-group">
                    <label for="postText">New Post</label>
                    <textarea class="form-control" id="postText" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>

            <!-- Recent posts -->
            <div class="mt-3">
                <h3>Recent Posts</h3>

                <!-- For each post in posts -->
                <div th:each="post : ${posts}" class="card mt-3">
                    <div class="card-body">
                        <p th:text="${post.content}" class="card-text"></p>
                        <form name="like-form" enctype="application/json" th:action="@{/likes/posts/{postId}(postId=${post.id})}" th:method="post">

                            <!-- TODO: change the user_id value to session.user_id -->

                            <input type="hidden" name="user_id" value="152">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                            <button onclick="submitForm(event, this.form)" type="submit" class="card-link btn btn-link">Like</button>
                            <p th:id="'like-count-' + ${post.id}" th:text="${#lists.size(post.likes)}"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Sidebar -->
        <div th:replace="~{layout :: sidebar}"></div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script th:inline="javascript">
    function submitForm(event, form) {
    event.preventDefault(); // prevent default form submission behavior

    const data = {
        post_id: form.querySelector('input[name="post_id"]').value,
        user_id: form.querySelector('input[name="user_id"]').value,
    };

    // make AJAX request to the server
    fetch(form.action, {
        method: form.method,
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        if (response.ok) {
            // update like count in the DOM

        }
    })
    .catch(error => console.error(error));
}
</script>