<!-- Head-->
<div th:fragment="head">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Social Network</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
</div>


<!-- Navigation bar -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
        <a class="navbar-brand" href="/">Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">View all users</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- User information -->
<div th:fragment="userinfo" class="card">
    <img src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg" alt="Profile Picture" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Username</h5>
        <p class="card-text">this is a biography</p>
        <div class="followers">
            <a href="#" class="card-link">Followers</a>
            <span class="count">1000</span>
        </div>
        <div class="following">
            <a href="#" class="card-link">Following</a>
            <span class="count">500</span>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Home</a></li>
        <li class="list-group-item"><a href="#">Notifications</a></li>
        <li class="list-group-item"><a href="#">Messages</a></li>
        <li class="list-group-item"><a href="#">Profile</a></li>
        <li class="list-group-item"><a href="#">Settings</a></li>
    </ul>
</div>


<!-- Make a new post form -->
<div th:fragment="newpost" class="card mt-3">
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>